@use './variables' as *;

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

ul {
    list-style: none;
}

/* GENERAL SETTINGS */

.divider.small {
    border-top: 2px solid $color-theme;
    width: 250px;
    
}

.divider.big {
    padding-top: 70px;
    p {
        margin: 0 !important;
    }
    .right {
        margin-top: 20px;
    }
}



/* DEBUG */

.debug .container {
border: dashed black 1px;
}

.debug .container [class^=col] {
border: dashed black 1px;
}