@use './variables' as *;

// LAYOUT HEADER

header {
    position: fixed;
    z-index: 3;
    width: 100vw;
    height: 130px;
     .container {
        padding-top: 25px;
        padding-bottom: 25px;
     }
}

// LAYOUT MAIN

main {
    padding-top: 130px;

    section.block {
        padding-top: 100px;
        padding-bottom: 100px;
    
        p {
            font-size: 16px;
        }
    }

    section.hero.img {
        height: calc(100vh - 282px);
    
        .container {
            height: 100%;
        }
    }
    
    section.hero.banner {
        height: 130px;
    
        .container {
            height: 100%;
            position: relative;
    
            button {
                position: absolute;
                bottom: -12px;
            }
        }
    }

    section.numbers,
    section.ownersquotes {
        .container {
            height: 100%;
        }
        height: 500px;
        .row.content {
            height: 170px;
            padding-top: 165px;
            padding-bottom: 165px;
        }
    }
}
