// COLORS

$color-theme: #fed03d;

$bg-heroImg: url(/home-slider.jpg);

$bg-color-cards: #f5f5f5;

$bg-color-sections: #f5f5f5;


// $color-

// #ffffff; bianco
// #fed03d; ocra
// 333333; nero chiaro
// f5f5f5; bianco sporco
// 55328b; viola
// 1f1f1f; nero scuro
// fe813e; arancione
// 517ad2; azzurro scuro
// 84cb01; verde
// 21a6b5; azzurro chiaro



// SIZES
